<div class="well offset4 span4">
  <h3>BioASQ Social Network</h3>
  <hr>
  <label>Email</label>
  <input type="email" data-ng-model="login.email" class="span4 required">
  <label>Password</label>
  <input type="password" data-ng-model="login.password" class="span4 required">
  <button type="submit" data-ng-click="login.submit()"  class="btn btn-primary"><i class="icon-lock icon-white"></i> Sign in</button>
  <!--<div class="pull-right">
    <label id="remember-me" class="checkbox">
      <input type="checkbox" data-ng-click="login.remember"checked="checked">Remember Me</label>
  </div>-->
  <div class="clear-fix"></div>
  <hr>
  <div class="btm-links">
    <a data-ng-click="authentication.setSection('remember')">Forgot Your Password?</a>
    <a data-ng-click="authentication.setSection('register')" class="pull-right">Create An Account</a>
  </div>
</div>
