<div class="row">
  <div class="span5 center">
    <div class="well">
      <div class="logo">
        <img src="/img/BioASQ_logo_86px.png"></img>
        <h3>BioASQ Social Network</h3>
      </div>
      <hr>
      <form name="loginForm">
        <label for="input.email">Email address</label>
        <input type="email" id="input.email" data-ng-model="login.id" class="span4 required" style="width:96%" required>
        <label for="input.password">Password</label>
        <input type="password" id="input.password" data-ng-model="login.password" name="password" class="span4 required" style="width:96%" required>
        <div class="pull-right">
          <button data-ng-click="login.submit(loginForm)" class="btn btn-primary">
            <i class="icon-lock icon-white"></i>
            Sign in
          </button>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="btm-links">
          <a href="/#!/request">Forgot your password?</a>
          <a href="/#!/register" class="pull-right">Create an account</a>
        </div>
      </form>
    </div>
    <span data-ng-include="'templates/partials/alert.html'"></span>
  </div>
</div>
