<div class="form-horizontal well offset2 span8">
  <h4>Retrieve Your Password</h4>
  <hr>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Email Address</label>
      <div class="controls">
        <input type="email" data-ng-model="remember.email" class="input-xlarge span4 required">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" data-ng-click="remember.submit()" class="btn btn-primary"><i class="icon-white icon-refresh"></i> Send Password</button>
      <button type="button" data-ng-click="authentication.setSection('login')" class="btn btn-small">Cancle</button>
    </div>
  </fieldset>
</div>
