<div class="row">
  <div class="span8 center">
    <div class="form-horizontal well">
      <h4>Reset Your Password</h4>
      <hr>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input.email">Email address</label>
          <div class="controls">
            <input type="text" id="input.email" data-ng-model="remember.email" class="span5 required">
          </div>
        </div>
        <div class="form-actions">
          <div class="pull-right">
            <button type="button" data-ng-click="authentication.setSection('login')" class="btn">Cancel</button>
            <button type="submit" data-ng-click="remember.submit()" class="btn btn-primary">
              <i class="icon-white icon-refresh"></i>
              Send Link
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  <span data-ng-include="'templates/partials/alert.html'"></span>
  </div>
</div>
