<div class="row">
  <div class="span8 center">
    <div class="form-horizontal well">
      <h4>Request password reset</h4>
      <hr><form name="requestForm">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input.email">Email address</label>
          <div class="controls">
            <input type="email" id="input.email" data-ng-model="request.email" class="span5 required" required>
          </div>
        </div>
        <div class="form-actions">
          <div class="pull-right">
            <a class="btn" href="/#!/signin">Cancel</a>
            <button type="submit" data-ng-click="request.submit(requestForm)" class="btn btn-primary">
              <i class="icon-white icon-refresh"></i>
              Send Link
            </button>
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  <span data-ng-include="'templates/partials/alert.html'"></span>
  </div>
</div>
