<div class="row">
  <div class="span8 center">
    <div class="form-horizontal well">
      <h4>Reset your password</h4>
      <hr>
      <form name="resetForm">
      <input type="hidden" data-ng-model="reset.code" required>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input.password1">New password</label>
          <div class="controls">
            <input type="password" id="input.password1" data-ng-model="reset.password1" class="span4" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input.password2">Repeat new password</label>
          <div class="controls">
            <input type="password" id="input.password2" data-ng-model="reset.password2" class="span4" required>
          </div>
        </div>
        <div class="form-actions">
          <div class="pull-right" style="margin-right:80px">
            <button type="submit" class="btn btn-primary" data-ng-click="reset.submit(resetForm)">
              <i class="icon-ok icon-white"></i>
              Change password
            </button>
          </div>
        </div>
      </fieldset></form>
    </div>
  <span data-ng-include="'templates/partials/alert.html'"></span>
  </div>
</div>
