body {
    padding-top: 19px;
}
a{
    cursor: pointer;
    cursor: hand;
}

form, .form-horizontal {
  margin: 0;
  padding-bottom: 0;
}

.modal-body{
    height: 100%;
	max-height: 100%;
}
.modal-body textarea {
    resize: none;
    height: 250px;
    width: 515px;
}
.modal-body input {
    width: 515px;
}

.modal-wide {
  width: 620px;
  margin-left: -310px;
}

.vspace{
    height: 20px
}

.pagination {
  text-align: center;
}

.btn-group-wrap {
    text-align: center;
    padding-bottom: 19px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/* ui-reset */
.ui-resetwrap {
    position: relative;
    display: inline-block;

}

.activity-icon {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}

select:focus, button:focus {
  outline: none !important;
  outline-color: transparent !important;
}

.ui-reset {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    height: 100%;
    cursor: pointer;
}
.ui-resetwrap:hover .ui-reset {
    display: block;
}
.ui-reset {
    width: 14px;
    height: 14px;
    margin: 7px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-position: -312px 0;
}
