<div data-ng-include src="'partials/navi.html'"></div>

<div class="container">
    <div data-ng-repeat="q in questions">
        <!-- questions-->
        <div class="row">
            <div class="span12"><a class="btn btn-link" data-ng-click="questionDetail(q._id)" >{{q.body}} </a></div>
        </div>
        <div class="row">
            <div class="span1"><button class="btn btn-mini"><i class="icon-arrow-up"></i></button></div>
            <div class="span11">created by: <a data-ng-href="#/user/{{q.creatorID}}">{{q.creator}}</a> date: {{q.date}} </div>
        </div>
        <div class="row">
            <div class="span1"><button class="btn btn-mini disabled">{{q.rank}}</button></div>
            <div class="span11">&nbsp;</div>
        </div>
        <div class="row">
            <div class="span1"><button class="btn btn-mini"><i class="icon-arrow-down"></i></button></div>
            <div class="span11">{{q.comments.length}} comments</div>
        </div>
        <!-- -->
        <!-- question details-->
        <span data-ng-hide="detail.id != q._id">
            <div class="vspace"></div>
            <div class="row">
                <div class="span1">Answer</div>
                <div class="span11">{{detail.answer}}</div>
            </div>
            <div class="row">
                <div class="span1">Ideal</div>
                <div class="span11">{{detail.ideal}}</div>
            </div>
        </span>
        <!-- -->
        <hr>
    </div>
</div>
