<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>message</h3>
</div>

<div class="modal-body">
    <form>
        <fieldset>
            <legend>{{user.name}}</legend>
            <label>Label name</label>
            <input type="text" placeholder="Your message ..." autofocus="autofocus" /><br />

            <button type="submit" class="btn">Submit</button>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn" data-ng-click="dismiss()">Close</button>
</div>
