<div data-ng-include src="'partials/navi.html'"></div>
<div class="vspace"></div>

<div class="container">
    <div class="row">
        <div class="span1">
            <img data-ng-src={{user.img}} alt={{user.name}} />
        </div>
        <div class="span11">
            {{user.name}}<br />
            {{user.description}}
        </div>
    </div>

    <div class="vspace"></div>

    <div class="row">
        <div class="span1"> </div>
        <div class="span11" data-ng-hide="me._id == user._id">
            <button class="btn" data-ng-click="message(user._id)" data-bs-modal="'partials/modalMessages.html'">Message</button>
            <button class="btn" data-ng-click="follow(user._id)">Follow</button>
        </div>
    </div>
</div><br />

<div class="vspace"></div>

<div class="container">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-ng-href="#Following" data-toggle="tab" data-ng-click="showFollowing(user._id)">Following</a>
            </li>
            <li>
                <a data-ng-href="#Followers" data-toggle="tab" data-ng-click="showFollowers(user._id)">Followers</a>
            </li>
            <li>
                <a data-ng-href="#Comments" data-toggle="tab" data-ng-click="showComments(user._id)">Comments</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="Following">
               <div data-ng-repeat="d in data" class="row">
                    <!-- todo -->
                    <div class="span1">
                        <img data-ng-src={{d.img}} alt={{d.name}} /><br />
                    </div>
                    <div class="span11">
                        {{d.name}} {{d.body}}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Followers">
                <div data-ng-repeat="d in data" class="row">
                    <div class="span1">
                        <img data-ng-src={{d.img}} alt={{d.name}} /><br />
                    </div>
                    <div class="span11">
                        {{d.name}}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Comments">
                <div data-ng-repeat="d in data" class="row">
                    <div class="span12">
                        {{d.comment}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
