<div data-ng-include src="'partials/templates/navi.html'"></div>

<div class="vspace"></div>

<div class="container">
    <div class="row">
        <div class="span2">
            <img class="img-rounded img-polaroid" data-ng-src={{user.img}} alt="{{user.first_name}} {{user.last_name}}" />
        </div>
        <div class="span10">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <p>{{user.description}}</p>
        </div>
    </div>

    <div class="vspace"></div>

    <div class="row">
	    <div class="span12 btn-group" data-ng-hide="me.id == user.id">
	        <button class="btn" data-ng-click="open = true">Message</button>
	        <button class="btn" data-ng-click="follow(); user.follows = !user.follows" data-ui-if="!user.follows">Follow</button>
	        <button class="btn" data-ng-click="follow(); user.follows = !user.follows" data-ui-if="user.follows">Unfollow</button>
	    </div>
    </div>
</div>
<br />

<div class="vspace"></div>

<div class="container">
    <!-- btns -->
    <div class="btn-group-wrap">
	    <div class="btn-group " data-toggle="buttons-checkbox">
	        <button type="button" class="btn btn-inner" data-ng-model="radioModel" data-btn-radio="'followings'" data-ng-click="showFollowing()">Following</button>
	        <button type="button" class="btn btn-inner" data-ng-model="radioModel" data-btn-radio="'followers'" data-ng-click="showFollowers()">Followers</button>
	        <button type="button" class="btn btn-inner" data-ng-model="radioModel" data-btn-radio="'comments'"  data-ng-click="showComments()">Comments</button>
	    </div>
    </div>
    <div class="vspace"></div>
    <!-- btn active -->
    <div data-ng-init="radioModel = 'followings'"></div>
    <!-- table -->
    <div data-ng-repeat="d in data">
        <div class="row well">
            <div data-ng-switch data-on="radioModel">
                <div data-ng-switch-when="followings">

                    <div data-ng-switch data-on="d.type">
                        <div data-ng-switch-when="Question"><div data-ng-include src="'partials/templates/question.html'"></div></div>
                        <div data-ng-switch-when="User">    <div data-ng-include src="'partials/templates/user.html'"></div></div>
                    </div>

                </div>
                <div data-ng-switch-when="followers">       <div data-ng-include src="'partials/templates/user.html'"></div></div>
                <div data-ng-switch-when="comments">        <div data-ng-include src="'partials/templates/comment.html'"></div></div>
            </div>
        </div>
    </div>
    <div data-ui-if="data.length == 0" class="row well">No {{radioModel}} yet.</div>
</div>

<!-- modal window -->
<div data-modal="open" data-close="open = false" data-options="{backdropFade: true, dialogFade:true }">

    <div data-ng-include src="'partials/templates/modal_comment.html'"></div>

    <div class="modal-footer">
        <button class="btn cancel"  data-ng-click="open = false">Cancel</button>
    </div>
