<div class="well">
  <span class="label pull-right">
    <span data-ui-if="section=='inbox'">from: {{message.creator}}, {{'' | dateDiff:message.created}}</span>
    <span data-ui-if="section=='outbox'">to: {{message.to}}, {{'' | dateDiff:message.created}}</span>
  </span>
  <h4 contenteditable="true" style="clear:both">{{message.title}}</h4>
  <div contenteditable="true" data-ng-bind-html-unsafe="message.content | parseContent"></div>
  <div class="row" data-ui-if="section=='inbox'">
    <button class="btn pull-right">Reply</button>
  </div>
</div>
