<p>Hello, <%= userName %>!</p>
<p>Thank you for registering at <%= projectName %>.</p>
<p>Before you can use your account it must be activated. Please click <a href="<%= activationURL %>">this link</a> to do so.</p>
Regards,<br />
BioASQ Social Network Team
