<p>Hello, <%= userName %>!</p>
<p><%= follower%> is now following you on <%= projectName %>.</p>
<p><a href="<%= signInURL %>">Sign in</a> to your account to see what else is happening.</p>
Regards,<br />
BioASQ Social Network Team
