<p>Hello, <%= userName %>!</p>
<p>You have new followers on <%= projectName %></p>
<p><a href="<%= signInURL %>">Sign in</a> to your account to see what's happening.</p>
Regards,<br />
BioASQ Social Network Team
