<p>Hello, <%= userName %>!</p>
<p>A question you follow on <%= projectName %> has been updated.</p>
<p><a href="<%= signInURL %>">Sign in</a> to your account to see what was changed.</p>
Regards,<br />
<%= projectName %> Team
