<p>Hello, <%= userName %>!</p>
<p>Someone (probably you) requested your password be reset.</p>
<p>If it wasn't you you can ignore this email.</p>
<p>Otherwise, please click <a href="<%= resetURL %>">this link</a> to reset your password.</p>
Regards,<br />
<%= projectName %> Team
