<div data-ng-switch data-on="activity.type">
  <div data-ng-switch-when="Comment"
       data-ng-init="comment=activity"
       data-ng-include="'templates/partials/comment.html'"
       data-ng-controller="CommentController"></div>
  <div data-ng-switch-when="Question">
    <div class="well">
      <i class="activity-icon icon-question-sign"></i>
      <div>
        <a href="#!/users/{{activity.creator.id}}">{{activity.creator.name}}</a> created
        <span data-ng-controller="QuestionController">
          <a data-ng-click="fetchQuestionIfNeeded(activity.about);questionShown=!questionShown">a question</a>,
          <span class="label">{{activity.created | relativeDate}}</span>.
          <div data-ui-if="questionShown"
               data-ng-include="'templates/partials/question.html'">
          </div>
        </span>
      </div>
    </div>
  </div>
  <div data-ng-switch-when="Follow"
       data-ng-init="follow=activity"
       data-ng-include="'templates/partials/follow.html'"></div>
  <div data-ng-switch-when="Vote"
       data-ng-init="vote=activity"
       data-ng-include="'templates/partials/vote.html'"></div>
</div>
