<div class="well" style="font-size:90%">
  <dl style="margin-bottom:0.8em">
    <dt>Ideal answer</dt>
    <dd data-ng-bind-html="question.answer.ideal | newlines"></dd>
    <span data-ui-if="question.answer.exact">
      <dt>Exact answer</dt>
      <dd data-ng-switch="question.question_type">
        <span data-ng-switch-when="list">
          <ul>
            <li data-ng-repeat="synonyms in question.answer.exact">{{synonyms.join(', ')}}</li>
          </ul>
        </span>
        <span data-ng-switch-when="factoid">{{question.answer.exact.join(', ')}}</span>
        <span data-ng-switch-when="decisive">{{question.answer.exact}}</span>
      </dd>
    </span>
  </dl>

  <ul class="nav nav-pills" style="margin-bottom:0.8em;padding-left:40px">
    <li data-ng-class="{active:type=='concept'}">
      <a data-ng-click="filterAnnotations(question.answer, 'concept')">concepts</a>
    </li>
    <li data-ng-class="{active:type=='document'}">
      <a data-ng-click="filterAnnotations(question.answer, 'document')">documents</a>
    </li>
    <li data-ng-class="{active:type=='snippet'}">
      <a data-ng-click="filterAnnotations(question.answer, 'snippet')">snippets</a>
    </li>
    <li data-ng-class="{active:type=='statement'}">
      <a data-ng-click="filterAnnotations(question.answer, 'statement')">statements</a>
    </li>
  </ul>

  <ul data-ui-if="filteredAnnotations.length">
    <span data-ng-repeat="annotation in filteredAnnotations">
      <li data-ng-switch="annotation.type">
        <a data-ng-switch-when="concept" href="{{annotation.uri}}">{{annotation.title}}</a>
        <a data-ng-switch-when="document" href="{{annotation.uri}}">{{annotation.title}}</a>
        <span data-ng-switch-when="snippet" data-ng-bind-html="annotation.text | newlines"></span>
        <span data-ng-switch-when="statement">{{annotation.title}}</span>
      </span>
    </li>
  </ul>
  <div data-ng-show="filteredAnnotations && !filteredAnnotations.length">No {{type}}s found.</div>
</div>
