<div class="well">
    <div data-ng-bind-html-unsafe="details[q.id].answer.ideal | parseContent"></div><br>
    <div data-ng-bind-html-unsafe="details[q.id].answer.exact"></div><br>

    <div data-ng-init="noAnnos=false"></div>
    <button class="btn btn-link"
            data-ng-click="noAnnos=true; type = 'concept'">
            concepts
    </button>
    <button class="btn btn-link"
            data-ng-click="noAnnos=true; type = 'document'">
            documents
    </button>
    <button class="btn btn-link"
            data-ng-click="noAnnos=true; type = 'snippet'">
            snippets
    </button>
    <button class="btn btn-link"
            data-ng-click="noAnnos=true; type = 'statement'">
            statements
    </button>

    <div data-ng-repeat="anno in details[q.id].answer.annotations">
        <div data-ui-if="anno.type == type">
            <div data-ng-init="noAnnos=false"></div>
            {{anno}}
        </div>
    </div>
    <div data-ui-if="noAnnos">
        nothing found here
    </div>
</div>