<div class="well" style="font-size:90%">
  <dl>
    <dt>Ideal answer</dt>
    <dd data-ng-bind-html-unsafe="answer.ideal | parseContent"></dd>
    <span data-ui-if="answer.exact">
      <dt>Exact answer</dt>
      <dd data-ng-switch="questionType">
        <span data-ng-switch-when="list">
          <ul>
            <li data-ng-repeat="synonyms in answer.exact">{{synonyms.join(', ')}}</li>
          </ul>
        </span>
        <span data-ng-switch-when="factoid" data-ng-list="answer.exact">{{answer.exact.join(', ')}}</span>
        <span data-ng-switch-when="decisive">{{answer.exact}}</span>
      </dd>
    </span>
  </dl>

  <button class="btn btn-link"
          data-ng-click="filterAnnotations(answer, 'concept')">
          concepts
  </button>
  <button class="btn btn-link"
          data-ng-click="filterAnnotations(answer, 'document')">
          documents
    </button>
    <button class="btn btn-link"
            data-ng-click="filterAnnotations(answer, 'snippet')">
            snippets
  </button>
  <button class="btn btn-link"
          data-ng-click="filterAnnotations(answer, 'statement')">
          statements
  </button>

  <ul data-ui-if="filteredAnnotations.length">
    <span data-ng-repeat="annotation in filteredAnnotations">
      <li data-ng-switch="annotation.type">
        <a data-ng-switch-when="concept" href="{{annotation.uri}}">{{annotation.title}}</a>
        <a data-ng-switch-when="document" href="{{annotation.uri}}">{{annotation.title}}</a>
        <span data-ng-switch-when="snippet" data-ng-bind-html-unsafe="annotation.text | parseContent"></span>
        <span data-ng-switch-when="statement">{{annotation.title}}</span>
      </span>
    </li>
  </ul>
  <div data-ng-show="filteredAnnotations && !filteredAnnotations.length">No {{type}}s found.</div>
</div>
