<div data-ng-init="displayActivity=!commentOnly" ng-class="{well: true, 'well-small': !displayActivity }">
  <i class="activity-icon icon-comment"></i>
  <div data-ui-if="displayActivity">
    <a href="#!/users/{{comment.creator.id}}">{{comment.creator.name}}</a>
    commented on
    <span data-ng-controller="QuestionController">
      <a data-ng-click="fetchQuestionIfNeeded(comment.about);questionShown=!questionShown">a question</a>,
      <span class="label">{{comment.created | relativeDate}}</span>.
      <div data-ui-if="questionShown"
          data-ng-include="'templates/partials/question.html'">
      </div>
    </span>
  </div>
  <!--
     - <div data-ui-if="user.id != comment.creator.id">
     -     <div data-ng-init="date=comment.modified">
     -         {{ ' ' | relativeDate:date }} by <a data-ng-href="#!/users/{{comment.creator.id}}">{{comment.creator.first_name}} {{comment.creator.last_name}}</a>
     -     </div>
     - </div>
     - <div data-ui-if="user.id == comment.creator.id">
     -     <div data-ng-init="date=comment.modified">
     -         {{ ' ' | relativeDate:date }} by {{comment.creator.first_name}} {{comment.creator.last_name}}
     -     </div>
     - </div>
     -->
  <div data-ng-bind-html="comment.content | newlines"></div>
  <span data-ui-if="!displayActivity">
    by <a href="#!/users/{{comment.creator.id}}">{{comment.creator.name}}</a>,
    <span class="label">{{comment.created | relativeDate}}</span>.
  </span>
  <div class="replies" style="margin-top:11px">
    <a data-ng-show="comment.reply_count"
       data-ng-init="comment.repliesShown=false"
       data-ng-click="fetchRepliesIfNeeded(comment);comment.repliesShown=!comment.repliesShown">
      <span data-ng-show="comment.repliesShown">hide</span>
      <span data-ng-show="!comment.repliesShown">show</span>
      <span data-ng-pluralize
            data-count="comment.reply_count"
            data-when="{ 1: 'reply', other: '{{comment.reply_count}} replies' }"></span>
    </a>
    <div class="pull-right">
      <button class="btn btn-small pull-right" data-ng-click="reply(comment)">Reply</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div data-ui-if="temp.comment.reply_of==comment.id">
    <div data-ng-controller="CommentController" data-ng-include="'templates/partials/create_comment.html'"></div>
  </div>
  <div data-collapse="!comment.repliesShown">
    <div data-ng-repeat="comment in comment.replies"
         data-ng-init="commentOnly=true"
         data-ng-include="'templates/partials/comment.html'">
    </div>
  </div>
</div>
