<div class="well">
  <div>
    <a href="#!/users/{{comment.creator}}">{{comment.creator}}</a>
    commented on
    <a href="/#!/questions/{{comment.about}}">a question</a>:
  </div>
  <!--
     - <div data-ui-if="user.id != comment.creator.id">
     -     <div data-ng-init="date=comment.modified">
     -         {{ ' ' | dateDiff:date }} by <a data-ng-href="#!/users/{{comment.creator.id}}">{{comment.creator.first_name}} {{comment.creator.last_name}}</a>
     -     </div>
     - </div>
     - <div data-ui-if="user.id == comment.creator.id">
     -     <div data-ng-init="date=comment.modified">
     -         {{ ' ' | dateDiff:date }} by {{comment.creator.first_name}} {{comment.creator.last_name}}
     -     </div>
     - </div>
     -->
  <div data-ng-bind-html-unsafe="comment.content | parseContent"></div>
  <div class="label">{{ '' | dateDiff:comment.created }}</div>
  <div class="replies">
    <a data-ui-if="comment.reply_count" data-ng-click="fetchRepliesIfNeeded(comment)">{{comment.reply_count}} replies</a>
    <div data-ng-repeat="comment in comment.replies" data-ng-include src="'templates/partials/comment.html'"></div>
  </div>
</div>
