<div class="row">
  <div class="offset1 span8" data-ui-if="newMessage.needsReceipient">
    <input type="text" class="span8" placeholder="Receipient" data-ng-model="newMessage.to">
  </div>
  <div class="offset1 span8">
    <input type="text" class="span8" placeholder="Subject" data-ng-model="newMessage.title">
  </div>
  <div class="offset1 span8">
    <textarea type="text" class="span8" rows="5" placeholder="Your message" data-ng-model="newMessage.content"></textarea>
  </div>
  <div class="offset1 span8">
    <div class="pull-right">
      <button class="btn" data-ng-click="cancel()">Cancel</button>
      <button class="btn btn-success" data-ng-click="send(newMessage)">Send</button>
    </div>
  </div>
</div>
