<div class="well">
  <i class="activity-icon icon-star"></i>
  <div>
    <a href="#!/users/{{follow.creator}}">{{follow.creator}}</a>
    is now following
    <span data-ng-switch data-on="follow.about_type">
      <span data-ng-switch-when="User">
        <a href="#!/users/{{follow.about}}">{{follow.about}}</a>,
        <span class="label">{{follow.created | relativeDate}}</span>.
      </span>
      <span data-ng-switch-when="Question" data-ng-controller="QuestionController">
        <a data-ng-click="fetchQuestionIfNeeded(follow.about);questionShown=!questionShown">a question</a>,
        <span class="label">{{follow.created | relativeDate}}</span>.
        <span data-ui-if="questionShown" data-ng-include="'templates/partials/question.html'"></span>
      </span>
    </span>
  </div>
</div>
