<div class="navbar navbar-inner">
  <ul class="nav" data-ng-init="inflectorType='humanize'">
    <li data-ng-repeat="(page, config) in pages"
        data-ng-class="{active: $uiRoute}"
        data-ui-route="#/{{page}}">
        <a data-ng-href="#!/{{page}}">
        {{page | inflector:inflectorType}}
      </a>
    </li>
  </ul>
  <ul class="nav pull-right">
    <li data-ui-route="#/users/{{me.id}}" data-ng-class="{active: $uiRoute}">
      <a data-ng-href="#!/users/{{me.id}}">{{name}}</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="offset3 span6">
    <div data-ui-if="alerts">
      <div data-ng-repeat="alert in alerts" data-ng-controller="AlertCtrl" class="alert alert-{{alert.type}}">
        <button type="button" class="close" data-ng-click="close($index)">&times;</button>
        {{alert.message}}
      </div>
    </div>
  </div>
</div>
