<div class="navbar navbar-inner">
  <ul class="nav" data-ng-init="inflectorType='humanize'">
    <li data-ng-repeat="(page, config) in pages"
        data-ng-class="{active: $uiRoute}"
        data-ui-route="#/{{page}}">
        <a data-ng-href="#!/{{page}}">
        {{page | inflector:inflectorType}}
      </a>
    </li>
  </ul>
  <ul class="nav pull-right">
    <li data-ui-route="#/users/{{me.id}}" data-ng-class="{active: $uiRoute}">
      <a data-ng-href="#!/users/{{me.id}}">{{name}}</a>
    </li>
  </ul>
</div>
