<div class="navbar navbar-inner">
  <div class="pull-left">
    <img class="logo-navi" src="/img/BioASQ_logo_33px.png"></img>
  </div>
  <ul class="nav" data-ng-init="inflectorType='humanize'">
    <li data-ng-repeat="(page, config) in pages"
        data-ng-class="{active: $uiRoute}"
        data-ui-route="#/{{page}}">
        <a data-ng-href="#!/{{page}}">
        {{page | inflector:inflectorType}}
      </a>
    </li>
  </ul>
  <ul class="nav pull-right">
    <li data-ui-route="#/users/{{me.id}}" data-ng-class="{active: $uiRoute}">
      <a data-ng-href="#!/users/{{me.id}}">{{name}}</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="offset3 span6">
    <span data-ng-include="'templates/partials/alert.html'"></span>
  </div>
</div>
