<div class="row">
  <div class="span6">
    <!-- force left-align, since btn does center -->
    <button class="btn btn-link"
        style="text-align:left"
        data-ng-init ="answerIsCollapsed = true"
        data-ng-click="answerIsCollapsed = !answerIsCollapsed">
        {{question.body}}
    </button>

    <div class="row">
      <!-- Voting UI -->
      <div class="span1 text-center">
        <button class="btn btn-mini" data-ng-click="vote(question, 'up')">
          <i class="icon-arrow-up"></i>
        </button>
        <div>{{question.rank}}</div>
        <button class="btn btn-mini" 
                data-ng-click="vote(question, 'down')">
          <i class="icon-arrow-down"></i>
        </button>
      </div>

      <!-- creation info -->
      <div class="span5">created by
        <a data-ng-href="#!/users/{{question.creator}}">{{question.creator}}</a>,
        <span class="label">{{ '' | dateDiff:question.modified }}</span>

        <div class="row" style="padding-top:22px">
          <!-- comments link -->
          <div class="span2">
            <a data-ng-show="question.comment_count"
               data-ng-init="commentsShown=false"
               data-ng-click="fetchCommentsIfNeeded(question); commentsShown = !commentsShown">
               <span data-ng-show="commentsShown">hide</span>
               <span data-ng-show="!commentsShown">show</span>
               <span data-ng-pluralize
                     data-count="question.comment_count"
                     data-when="{ 1: 'comment', other: '{{question.comment_count}} comments' }"></span>
            </a>
          </div>

          <!-- follow button -->
          <div class="span3 btn-group">
            <button class="btn" data-ng-click="openDialog(question)">Comment</button>
            <button class="btn" data-ng-click="toggleFollow(question)">
              <div data-ui-if="!question.follows">Follow</div>
              <div data-ui-if="question.follows">Unfollow</div>
            </button>
          </div>

        </div><!-- row -->
      </div>
    </div><!-- row -->

    <div class="row" style="margin-top:11px" data-collapse="!commentsShown">
      <!-- show comments -->
      <div class="offset1 span5">
        <div data-ng-repeat="comment in question.comments"
             data-ng-init="commentOnly=true"
             data-ng-controller="CommentController"
             data-ng-include="'templates/partials/comment.html'">
        </div>
      </div>
    </div>
  </div><!-- left pane -->

  <div class="span6">
    <div data-collapse="answerIsCollapsed">
      <div data-ng-controller="QuestionController"
           data-ng-include="'templates/partials/answer.html'">
      </div>
    </div>
  </div><!-- right pane -->
</div>
