<div class="offset1 span2">
  <a data-ui-if="me.id==user.id"
     target="_blank"
     title="Change your profile picture at Gravatar."
     href="http://www.gravatar.com/{{user.img | gravatar}}">
    <img class="img-rounded img-polaroid" data-ng-src={{user.img}} alt="{{user.first_name}} {{user.last_name}}" width="90" />
  </a>
  <a href="#!/users/{{user.id}}">
    <img data-ui-if="me.id!=user.id" class="img-rounded img-polaroid" data-ng-src={{user.img}} alt="{{user.first_name}} {{user.last_name}}" width="90" />
  </a>
</div>
<div class="span9">
  <h3>{{user.first_name}} {{user.last_name}}</h3>
  <div data-ui-if="isAdmin()">
    <select class="span3" data-ng-model="user.roles">
        <option value="1">User</option>
        <option value="3">Senior User</option>
        <option value="7">Admin</option>
    </select>
    <button class="btn btn-small btn-form" ng-click="updateUser(user)">Save</button>
  </div>
  <div data-ui-if="!isAdmin()">
    <p>{{user.description}}</p>
  </div>
</div>
<div class="offset1 span11">
  <span data-ui-if="user.nOfComments"  data-ng-bind-html="user.nOfComments  | rewards: 'comments'"></span>
  <span data-ui-if="user.nOfQuestions" data-ng-bind-html="user.nOfQuestions | rewards: 'questions'"></span>
  <span data-ui-if="user.nOfVotes"     data-ng-bind-html="user.nOfVotes     | rewards: 'votes'"></span>
</div>
