<div class="well">
  <div data-ng-init="questionID=vote.about">
    <a href="#/users/{{vote.creator}}">{{vote.creator}}</a>
    {{vote.dir}}voted a
    <span data-ng-controller="QuestionController">
      <a data-ng-click="fetchQuestionIfNeeded(questionID);questionShown=!questionShown">a question</a>,
      <span class="label">{{ '' | dateDiff:vote.created }}</span>.
      <!--
         - TODO: Why is vote.about `undefined` here?
         -->
      <div data-ui-if="questionShown"
           data-ng-include="'templates/partials/question.html'">
      </div>
    </span>
  </div>
</div>
