<div class="well">
  <i class="activity-icon icon-thumbs-{{vote.dir}}"></i>
  <div data-ng-init="questionID=vote.about;voteDate=vote.created">
    <a href="#!/users/{{vote.creator.id}}">{{vote.creator.name}}</a>
    {{vote.dir}}voted a
    <span data-ng-controller="QuestionController">
      <!--
         - TODO: Why is vote `undefined` here?
         -->
      <a data-ng-click="fetchQuestionIfNeeded(questionID);questionShown=!questionShown">a question</a>,
      <span class="label">{{voteDate | relativeDate}}</span>.
      <div data-ui-if="questionShown"
           data-ng-include="'templates/partials/question.html'">
      </div>
    </span>
  </div>
</div>
