<div class="container">
  <div data-ng-switch data-on="authentication.section">
    <div data-ng-switch-when="login" data-ng-include="'templates/partials/authentication/login.html'"></div>
    <div data-ng-switch-when="register" data-ng-include="'templates/partials/authentication/register.html'"></div>
    <div data-ng-switch-when="request" data-ng-include="'templates/partials/authentication/request.html'"></div>
    <div data-ng-switch-when="reset" data-ng-include="'templates/partials/authentication/reset.html'"></div>
  </div>
</div>
