<div class="container">
    <div class="row">
        <div class="offset4">
            <div id="login-form" class="well span4">
                <h1>Hello!</h1>
                <p class="subheading">Please Login To Your Account</p>
                <label>Email</label>
                <input type="email" name="email" id="email-tf" class="span4 required">
                <label>Password</label>
                <input type="password" name="pass" id="pass-tf" class="span4 required">
                <button type="submit" id="btn-login" class="btn btn-primary" data-ng-click="login.submit()"><i class="icon-lock icon-white"></i>Sign in</button>
                <div class="pull-right">
                    <label id="remember-me" class="checkbox">
                        <input type="checkbox" checked="checked">Remember Me</label>
                </div>
                <div class="clear-fix"></div>
                <hr>
                <div class="btm-links">
                    <a href="#" id="forgot-password">Forgot Your Password?</a>
                    <a data-ng-href="#!/registration" id="create-account" class="pull-right">Create An Account</a>
                </div>
            </div>
        </div>
    </div>
</div>


