<div class="container">
  <div data-ng-include="'templates/partials/navi.html'"></div>

  <div class="row">
    <div class="offset1 span2">
      <img class="img-rounded img-polaroid" data-ng-src={{user.img}} alt="{{user.first_name}} {{user.last_name}}" />
    </div>
    <div class="span9">
      <h2>{{user.first_name}} {{user.last_name}}</h2>
      <p>{{user.description}}</p>
    </div>
  </div>

  <div class="vspace"></div>

  <div class="row" data-ng-controller="MessageCtrl">
    <div class="offset1 span12 btn-group" data-ng-hide="me.id==user.id">
      <button class="btn" data-ng-click="toggleFollow()">
        <span data-ui-if="follows">Unfollow</span>
        <span data-ui-if="!follows">Follow</span>
      </button>
      <button class="btn" data-ng-click="create(user.id)">Message</button>
    </div>
    <div class="offset1 span10" data-ui-if="newMessage && !newMessage.isReply">
      <div class="vspace"></div>
      <div class="well">
        <div class="row" data-ng-include="'templates/partials/create_message.html'"></div>
      </div>
    </div>
  </div>
  <div class="row" data-ng-hide="me.id != user.id" data-ng-controller="AuthenticationCtrl">
    <div class="offset1 span12 btn-group">
        <button class="btn" data-ng-click="preferences.click()">Preferences</button>
    </div>
    <div class="form-horizontal well offset1 span10" data-ui-if="preferences.clicked">
        <div data-ng-include="'templates/partials/authentication/register.html'"></div>
    </div>
  </div>
  <div class="row"><hr class="offset3 span6"></div>
  <div class="btn-group-wrap">
    <div class="btn-group" data-ng-init="section='activities'" data-toggle="buttons-checkbox">
      <button class="btn btn-inner" data-ng-model="section" data-btn-radio="'activities'">Activity</button>
      <button class="btn btn-inner" data-ng-model="section" data-btn-radio="'followings'">Following</button>
      <button class="btn btn-inner" data-ng-model="section" data-btn-radio="'followers'">Followers</button>
    </div>
  </div>
  <div data-ng-repeat="activity in activities">
    <div class="row">
      <div class="offset1 span10" data-ng-include="'templates/partials/activity.html'"></div>
    </div>
  </div>
  <div data-ui-if="activities.length==0" class="row">
    <div class="offset1 span10">
      <div class="well">No {{section | inflector:'humanize'}} yet.</div>
    </div>
  </div>
</div>
