<div class="container">
    <div data-ng-controller="NavigationCtrl" data-ng-include="'templates/partials/navi.html'"></div>

    <div style="clear:both"></div>
    <form class="row form-search" style="height:3em;" data-ng-init="query='';">
        <div class="span pull-right" data-ng-hide="query.length">
            Sort by:
            <select class="span3" data-ng-model="sortProperty">
                <option value="last_name">last name</option>
                <option value="first_name">first name</option>
            </select>
        </div>

        <div class="input-append span6">
            <input type="text" placeholder="Search users last names &hellip;" class="span5 search-query" data-ng-model="query">
            <button class="btn" data-ng-click="searchUsers()">Search</button>
        </div>
        <a class="btn btn-mini" data-ng-hide="!query.length" data-ng-model="query" data-ng-click="query=''; searchUsers()" style="border-radius:1.5em;position:relative;top:.35em;right:8.7em">✖︎</a>
    </form>
    <div  data-ng-repeat="user in users">
      <div class="row" data-ng-include="'templates/partials/user.html'"></div>
      <div class="vspace"></div>
    </div>
    <div data-ui-if="users.length && totalItems > itemsPerPage">
        <div data-pagination data-max-size="5" data-boundary-links="true" data-total-items="totalItems" data-items-per-page="itemsPerPage" data-page="$parent.currentPage"></div>
    </div>
</div>
